body,
h1{
    margin: 0%;
    padding: 0%;
}

.header-evolution{
    width: 100%;
}
@media only screen and (max-width:320px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    h1::after{
        content: "😐";
    }
}
@media only screen and (min-width:321px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body{
        background-color: aquamarine;
    }
    h1::after{
        content: "😂";
    }
}
@media only screen and (min-width:425px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body{
        background-color: yellowgreen;
    }
    h1::after{
        content: "😍";
    }
}
@media only screen and (min-width:768px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/5.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body{
        background-color: rebeccapurple;
    }
    h1::after{
        content: "🥰";
    }
}
@media only screen and (min-width:1024px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/6.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body{
        background-color: tan;
    }
    h1::after{
        content: "😅";
    }
}
@media only screen and (min-width:1600px){
    .evolution{
        width: 100%;
        min-height: 50vh;
        background-image: url('./img/7.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    body{
        background-color: thistle;
    }
    h1::after{
        content: "😆";
    }
}