html {
margin: 0;
padding: 0;
}

.confirm,
.entrar,
.validar,
.btn-entrar,
.sum,
.restar,
.ingresar-num{
    display: none;
}

.background{
    background-image: url("img/bkg.jpg");
    height: 900px;
}
.content{
    display: block;
}
.form-control{
    text-align: center;
}

.input-group{
    width: 50%;
    margin: 50px auto;
}
.text-center img{
    height: 200px;
    border-radius: 50%;
}
.text-center{
    text-align: center;
    padding-top: 100px;
}
.btn-soy{
    text-align: center;
    margin-top: 40px;
}
.si-soy{
    background-color: #f3ad2e;
    border: 1px solid #ced4da;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    padding: 0.375rem 1.75rem;
    border-radius: 3.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.si-soy:hover{
    background-color: black;
    color: #f3ad2e;
}

.entrar{
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
}
.text{
    text-align: center;
    margin-top: -100px;
}
.pon-monto{
    margin: 10px auto;
}
.operacion{
    display: block;
}
.restar{
    margin-top: 25px;
}

@media (min-width: 700px) {
    .operacion{
        display: flex;
        justify-content: space-evenly;
    }
    .sum{
        margin-top: 25px;
    }
  }

